{
    "check-coverage": true,
    "statements": 40,
    "branches": 10,
    "functions": 30,
    "lines": 40,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.spec.ts",
        "src/app/controllers/**/*.ts",
        "src/app/error/**/*.ts",
        "src/app/routes/**/*.ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ]
}