{
    "check-coverage": true,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "src/mongooseConnectionOptions.ts",
        "src/redis.ts",
        "**/*.spec.ts",
        "src/app/controllers/**/*.ts",
        "src/app/error/**/*.ts",
        "src/app/routes/**/*.ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "lcov",
        "text-lcov",
        "text-summary"
    ]
}